@tailwind base;

:root {
    --blue: #2634fc;
    --white: #fff;
    --bg: var(--blue);
    --primary: var(--white);
}

@tailwind components;

.control {
    @apply border-white bg-transparent text-white;
}

.button {
    @apply px-6 pt-1 pb-2 text-base leading-none tracking-widest lowercase font-bold border-2 rounded-sm bg-white text-teal-500 transition duration-200 ease-in-out;
}

.button:focus {
    @apply border-teal-200;
}

.button:hover {
    @apply border-teal-500;
}

@tailwind utilities;